<!DOCTYPE html>
<html>
     <head>
        <meta charset="utf-8">
        <title>Some WebSite</title>
    </head>
    <body>
        {{> header}}
        <p>My Portfolios</p>
        {{> footer}}   
      </body>
</html>